/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
.floatfix {
  overflow: auto; }

.block, .box {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  margin: 0.5em 1em; }

.box {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0.25em 0.5em 0.25em #334466;
  -webkit-box-shadow: 0.25em 0.5em 0.25em #334466;
  box-shadow: 0.25em 0.5em 0.25em #334466; }
.floatfix {
  overflow: auto; }
.floatfix, header {
  overflow: auto; }

.block, .box, main, header, footer {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  margin: 0.5em 1em; }

.box, main {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0.25em 0.5em 0.25em #334466;
  -webkit-box-shadow: 0.25em 0.5em 0.25em #334466;
  box-shadow: 0.25em 0.5em 0.25em #334466; }

.floatfix, header {
  overflow: auto; }

body {
  font-family: Frutiger, "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: powderblue;
  padding: 1em; }

h1, h2, h3, h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

header {
  margin: 0em; }

main {
  background-color: white;
  margin: 0em; }

footer {
  margin: 0em; }
.floatfix {
  overflow: auto; }

.floatfix {
  overflow: auto; }

.block, .box, .devise {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  margin: 0.5em 1em; }

.box {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0.25em 0.5em 0.25em #334466;
  -webkit-box-shadow: 0.25em 0.5em 0.25em #334466;
  box-shadow: 0.25em 0.5em 0.25em #334466; }

.devise {
  margin: 0em;
  padding: 0em;
  float: right; }
