/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*
 * Variables
 * Nesting selectors
 * Partial files
 * Import files
 * Extend / Inheritance
 * Operators
 */
.block, .box {
  padding: 0.5em 1em;
  margin: 0.5em 1em; }

.box {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 1em, 1em, 0.5em, #334466;
  -webkit-box-shadow: 1em, 1em, 0.5em, #334466;
  box-shadow: 1em, 1em, 0.5em, #334466; }
/*
 * Variables
 * Nesting selectors
 * Partial files
 * Import files
 * Extend / Inheritance
 * Operators
 */
/*
 * Variables
 * Nesting selectors
 * Partial files
 * Import files
 * Extend / Inheritance
 * Operators
 */
.block, .box, #content {
  padding: 0.5em 1em;
  margin: 0.5em 1em; }

.box, #content {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 1em, 1em, 0.5em, #334466;
  -webkit-box-shadow: 1em, 1em, 0.5em, #334466;
  box-shadow: 1em, 1em, 0.5em, #334466; }

/*
 * Variables
 * Nesting selectors
 * Partial files
 * Import files
 * Extend / Inheritance
 * Operators
 */
body {
  font-family: Frutiger, "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: powderblue;
  padding: 1em; }

h1, h2, h3, h4 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

#header {
  padding: 2em;
  overflow: auto; }

#content {
  background-color: white; }
.devise {
  float: right; }
