<!-- Calls magical devise method to see if someone is signed in and gives appropriate links -->
<div class="devise">
	<small>
		<% if member_signed_in? %>
			<%= current_member.email %>, 
			<%= link_to 'Logout', destroy_member_session_path, :method => :delete %>
		<% else %>
			You are not signed in. 
			<%= link_to 'Login', new_member_session_path %>
		<% end %>
	</small>
</div>
